
@media all and (min-width: 1440px)
{
    .circle {
        margin-top: 20px;
    }
}

@media all and (max-width: 800px)
{
    .photo {
        margin-top: 5%;
    }

    .leftBar { min-width: 100%; }

    #contact { text-align: center; }

    .rightBlock { min-width: 90%; }

    #titleName, #titleDev { text-align: center; }

    .rightBox {
        width: 100%;
    }

    .date {
        margin: 6% 5% 0 5%;
    }

    .circle {
        margin: 22px 0 0 0;
    }

    .blockReco {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 0 auto 0 auto;
    }

    .boxReco {
        text-align: center;
        justify-content: left;
        margin: 0 auto 0 auto;
        
    }
} 

@media all and (max-width: 415px)
{
    .circle {
        margin-top: 19px;
    }
}


@media all and (max-width: 320px)
{

    .rightBox {
        display: grid;
        grid-template-columns: 25% 75%;
}

    .date {
        margin-top: 8%;
}

    .rightText {
        margin-left: 10%;
}

    .circle { display: none; }    

}
