/*___---Feuille de style.css CV---___*/


@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('SinkinSans-300Light-webfont.eot');
    src: url('SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'), 
         url('SinkinSans-300Light-webfont.woff') format('woff'), 
         url('SinkinSans-300Light-webfont.ttf') format('truetype'), 
         url('SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*RESPONSIVE DESIGN ( à déplacer! ) */

@media (max-width: 769px)
{
    .page { display: flex; }

    .leftBar { min-width: 100%; }

    #contact { text-align: center; }

    .rightBlock { min-width: 90%; }

    #titleName, #titleDev { text-align: center; }

    .rightBox {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .circle { margin-top: 3px; }

    .date {
        margin: 15px;
        font-size: 12px;
    }

    .recommandation {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 5%;
    }


    .blockReco {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .boxReco {
        text-align: center;
        justify-content: left;
        
    }
} 

/*PROPRIETE PAGE*/

body {
    max-width: 1280px;
    margin: auto;
    font-family: sinkin_sans300_light;
}

.page {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1280px;
    margin: auto;
    font-family: sinkin_sans300_light;
}

.rightBlock {
    width: 65%;
    margin-left: 5%;
}

p { font-size: calc(12px + 0.2vw); }

/*BARRE GAUCHE*/

.leftBar {
    width: 25%;
    height: auto;
    background-color: #378EB3;
    display: flex;
    flex-direction: column;
}

.photo {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin: 15% auto 0 auto;
}

/*TITRES GAUCHE*/

#contactTitle, #hobbiesTitle, #aboutMeTitle {
    background-color: #044D6D;
    color: #378EB3;
    text-align: center;
}

/*CONTACT*/

#contact {
    width: 80%;
    font-size: 15em;
    margin: 0 auto 0 auto;
}

/*A PROPOS*/

#aboutMe {
    width: 80%;
    justify-content: flex-end;
    text-align: justify;
    margin: 0 auto 0 auto;
    font-size: ;
    flex: 1;
}

/*LOISIRS*/

#hobbies {
    margin-bottom: 20px;
    bottom: 0px;
}

/*ICONS LOISIRS*/

.fa-gamepad, .fa-futbol, .fa-leaf {
    height: 20px;
    width: 20px;
    color: #044D6D;
    border-radius: 50%;
    border-color: #044D6D;
    border-style: solid;
    border-width: 2px;
    padding: 5%;
    margin: 0 5% 0 auto;
}

#iconsHobbies { text-align: center; }

/*PARTIE DROITE*/
/*NOM & PRENOM*/

#name { color: #044D6D; }

#titleName {
    margin-bottom: -2%;
    font-size: 2em;
}

#titleDev {
    font-size: 1.3em;
    margin-bottom: 10%;
}

#dev { border-bottom: 2px solid #378EB3; }

/*LIGNEs HORIZONTALE*/

.border { border-bottom: 2px solid #378EB3; }

/*TITRE DROITE*/

#training, #expPro, #recommendation  {
    display: inline;
    margin-right: 15px;
    font-size: 1em;
}

/*COULEUR ICONS*/

.fa-graduation-cap, .fa-briefcase, .fa-pencil-alt {
    color: #044D6D;
    margin-right: ;
    font-size: 1.5em;
}

/*TEXTE DROITE*/

.rightBox {
    display: grid;
    grid-template-columns: 3% 27% 70%;
    font-size: 1em;
    margin-bottom: 5%;
}

.date {
    display: inline-flex;
    margin: 6px 15% 0 0;
    font-weight: bold;
}

.fa-circle {
    color: #044D6D;
    font-size: 75%;
    margin-top: 27px;
}

/*RECOMMANDATION*/

.blockReco {
    display: flex;
    margin: 20px 10px 10px 0;
}

.boxReco {
    margin: 0 5% 0 5%;
    width: 50%;
    font-size: 1em;
}

.boxReco p {
    font-size: 1em;
}